@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	[x-cloak] {
		display: none !important;
	}

	* {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	*::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
	}
}
